.App{
    background-color: #363865;
    color: white;
}

.main-container{
    margin: 0 auto;
    max-width: 320px;
    padding: 20px 15px;
}

.logo{
    font-size: 55px;
    text-align: center;
}

.description{
    font-size: 14px;
    margin: 13px 0px;
}
.link{
    color:rgb(229, 255, 0);
}